* {
  font-family: 'Helvetica Neue';
}

body {
  background-color: gray;
}

.site-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

.header {
  min-height: 4rem;
  background-color: #121212;
  color: white;
  display: flex;
}

.header h1 {
  font-size: 1.1rem;
  padding: 15px 70px;
}

.nav {
  background-color: #323232;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  display: flex;
  flex: 1;
}



/*#562f72, #9855d4, #d7aaff, #323232, #121212*/
