.tweet {
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 2px;
  width: 97.5%;
}

.username {
  font-weight: bold;
  color: purple;
}

.timestamp {
  font-size: 0.8rem;
}

.tweetText {
  color: #181818;
}